
<%-include('components/header')%>
<body>
<table class="table table-hover table-bordered  ">
  <thead class="thead-dark"> 
    <tr>
        <th>Contest Name     </td>
        <th><%=user1 %>    </td>
        <th><%= user2 %>    </td>
    </tr>
  </thead>
    
    <% arr.forEach(ele=>{  %>
        <tr>
            <td><%=ele.cName%>   </td>
            <% if(ele.frank<ele.srank){%>
                <td><strong><%=ele.frank %>    </strong></td>
                <td><%= ele.srank %>    </td>
            <%}else{%>
                <td><%=ele.frank %>    </td>
                <td><strong><%= ele.srank %>    </strong></td>
            <%}%>
        </tr>
  <%  })%>

</table>

  
</body>
<%-include('components/footer')%>